<main class="body">
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" >WebQuest</a>
      </div>

    </div>
  </nav>

<!-- START SECTION -->
  <div class="section hero text-center background-dark dark-bg">
    <div class="background-image" style="background: url(./../../assets/images/home/back.jpg) no-repeat center center; background-size: cover; opacity: .2;"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>WebQuest</h2>
          <p class="lead">Gratuit, rapide, et efficace : Réalisez et mettez en ligne rapidement toutes vos applications de Webmarketing, questionnaires internes, enquêtes de satisfaction, sondages d'opinion, etc.</p>
          <span id="formContent" >
          <ul class="list-inline" >
              <li class="espace"><a routerLink="/login"  routerLinkActive="active" class="btn btn-lg btn-info">Login</a></li>
              <li><a  routerLink="/register"  routerLinkActive="active" class="btn btn-lg btn-primary">Register</a></li>
          </ul>
        </span>
      </div>
    </div>
  </div>
  </div>
  <!--/.section -->

  <!-- START SECTION -->
  <div class="section background-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="section-title">Nos Services</h2>
          <p class="section-description">Vous souhaitez faire une étude de marché, une enquête de satisfaction ou encore obtenir des retours de vos clients ?
        <br> Alors WebQuest est la solution pour créer des formulaires en ligne : simple et efficace.</p>
        </div>
        <div class="col-md-4">
          <div class="service-block text-center">
            <h3>Créer Des Questionnaires</h3>
            <p>Créez vos questionnaires en quelques minutes grâce à un dashboard en ligne puissant, facile et rapide.</p>
          </div><!--/.service-block-->
        </div>
        <div class="col-md-4">
          <div class="service-block text-center">
            <h3>Collecter Les Réponse </h3>
            <p>Envoyez votre questionnaire par mail pour collecter les réponses en temps réel.</p>
          </div><!--/.service-block-->
        </div>
        <div class="col-md-4">
          <div class="service-block text-center">
            <h3>Analyser Vos Résultats</h3>
            <p>Générez des analyses avancées et un rapport au rendu ultra-professionnel en quelques clics.</p>
          </div><!--/.service-block-->
        </div>
      </div>
    </div>
  </div>
  <!--/.section -->

  <!-- START SECTION -->
  <div class="section hero text-center">
      <div class="background-image" style="background: url(./../../assets/images/home/question.jpg) no-repeat center center;">

                <h3 style="margin-left:18cm; margin-top: 4cm; margin-right: 3cm; color:white;"> WebQuest permet de rassembler de grandes quantités de données sur n’importe quel sujet.</h3>
              </div>

  </div>
  <!--/.section -->

  <!-- START SECTION -->
  <div class="section">
    <div class="container">
      <div class="row">

        <div class="col-md-12 text-center">

            <h3 class="entry-title">Pourquoi WebQuest? </h3>
            <p>Tout simplement les formulaires Webquest s'adaptent à tous les appareils : ordinateur, mobile, tablette, qu'ils soient Windows, OS X, Linux, Android ou iPhone. Il permet aussi de transmettre le questionnaire à vos contacts par mail,</p>
        </div>

      </div><!--/.row-->
    </div><!--/.container-->
  </div>
  <!--/.section -->

  <!-- START SECTION -->
  <div class="section hero text-center background-dark dark-bg">
      <div class="background-image" style="background: url(./../../assets/images/home/webquest.jpg) no-repeat center center;"></div>
  </div>
  <!--/.section -->

  <!-- START SECTION -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="section-title">Contactez-nous  </h2>
          <p class="section-description">Vous pouvez remplir notre formulaire en ligne pour envoyer un e-mail à notre service clientèle.
              Nous vous répondrons dans un délai de 2 jours ouvrables après la réception de votre e-mail.</p>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <form id="contact" method="post" class="form" role="form">
          <div class="row">
            <div class="col-md-6 form-group">
              <input class="form-control" id="name" name="name" placeholder="Name" type="text" required />
            </div>
            <div class="col-md-6 form-group">
              <input class="form-control" id="email" name="email" placeholder="Email" type="text" required />
            </div>
          </div>
          <textarea class="form-control" id="message" name="message" placeholder="Message" rows="8"  cols="153"></textarea>
          <br />
          <div class="row">
            <div class="col-md-12 form-group">
              <button class="btn btn-primary" type="submit">Envoyer</button>
            </div>
          </div>
        </form>
        </div>
      </div><!--/.row-->
    </div><!--/.container-->
  </div>
  <!--/.section -->

  <!-- START SECTION -->
  <div class="section background-dark dark-bg">
    <div class="container">
      <div class="row">

        <div class="col-md-12 text-center">
          <h3 class="text-uppercase font-size-md letter-spacing-md font-weight-lg">Contact</h3>
          <address>
          <strong>Adresse:</strong><br>
           1355 Market Street, Suite 900<br>
           San Francisco, CA 94103<br>
           <strong>Téléphone:</strong> <br>(+33) 776-55-87-39
        </address>
        <address>
          <strong>Email:</strong><br>
           <a href="mailto:#">service.client@webquest.com</a>
        </address>
        </div>

      </div>
    </div>
  </div>
  <!--/.section -->

</main>


