<main class="html">
  <div class="wrapper">
  <div id="formContent">
      <h2>WebQuest</h2>
      <p class="lead">Gratuit, rapide, et efficace : Réalisez et mettez en ligne rapidement toutes vos applications de Webmarketing, questionnaires internes, enquêtes de satisfaction, sondages d'opinion, etc.</p>
    <h2 class="underlineHover"  routerLink="/login"  routerLinkActive="active"> Sign In </h2>
    <h2 class="underlineHover"  routerLink="/register"  routerLinkActive="active">Sign Up </h2>
    <router-outlet></router-outlet>
  </div>
</div>
</main>
